<?xml version="1.0"?>
<!--
/**
 * Restension config
 *
 * @category   Aydus
 * @package    Aydus_Restension
 * @author     Aydus Consulting <davidt@aydus.com>
 */
-->
<config>
    <modules>
        <Aydus_Restension>
            <version>0.1.0</version>
        </Aydus_Restension>
    </modules>
    <global>
	    <blocks>
            <aydus_restension>
                <class>Aydus_Restension_Block</class>
            </aydus_restension>
			<oauth>
				<rewrite>
					<adminhtml_oauth_consumer_edit_form>Aydus_Restension_Block_Adminhtml_Oauth_Consumer_Edit_Form</adminhtml_oauth_consumer_edit_form>
				</rewrite>
			</oauth>            
	    </blocks>
        <models>
            <aydus_restension>
                <class>Aydus_Restension_Model</class>
                <resourceModel>aydus_restension_resource</resourceModel>
            </aydus_restension>
            <aydus_restension_resource>
                <class>Aydus_Restension_Model_Resource</class>
                <entities>
                </entities>
            </aydus_restension_resource>            
        </models>
        <helpers>
            <aydus_restension>
                <class>Aydus_Restension_Helper</class>
            </aydus_restension>
        </helpers>
        <resources>
            <aydus_restension_setup>
                <setup>
                    <module>Aydus_Restension</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </aydus_restension_setup>
        </resources>        
    </global>         
</config>